.app--container{

  display:flex;
  align-items:center;
  flex-direction:column;

}

.registro--container{
  padding: 10px 20px;
  border:3px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.registro--title{
  text-align: center;
  margin: bottom 20px;
  font-family: monospace;
}

.registro--input{
  display:block;
  padding: 7px 0;
  border-radius: 5px;
}

.registro--button{
  padding: 2px 5px;
}